@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.my-contents {
  @apply m-4 gap-4
}
.my-navbar-button {
  @apply sm:text-4xl text-3xl
}
.my-menu {
  @apply sm:text-lg text-base
}
.my-label {
  @apply sm:text-base text-sm
}
.my-form-label {
  @apply sm:text-base text-sm opacity-80
}
.my-form-style {
  @apply input sm:input-md input-sm input-bordered sm:rounded-2xl rounded-xl
}
.my-form-select-style {
  @apply select sm:select-md select-sm select-bordered sm:rounded-2xl rounded-xl
}
.my-form-area-style {
  @apply textarea input-bordered sm:rounded-2xl rounded-xl min-h-[80px]
}
.my-form-chip-style {
  @apply flex w-full flex-row flex-wrap border input-bordered sm:rounded-2xl rounded-xl sm:py-2 p-1 gap-1
}
.my-form-style-error {
  @apply -mt-1 text-[12px] text-error
}
.my-page-title {
  @apply mb-5 text-3xl font-medium font-boogaloo text-center sm:text-left
}
.my-card-title {
  @apply sm:text-2xl text-xl font-bold mb-4
}
.my-dialog-title {
  @apply sm:text-2xl text-lg font-semibold
}
.my-dialog-desc {
  @apply mt-3 mb-5 sm:text-base text-sm opacity-70
}
.my-btn-confirm {
  @apply btn btn-sm btn-warning bg-app-base border-app-base min-w-[80px]
}
.my-btn-confirm-outline {
  @apply btn btn-sm btn-outline btn-warning min-w-[80px]
}
.my-btn-cancel {
  @apply btn btn-sm btn-neutral min-w-[80px]
}
.my-btn-home {
  @apply btn btn-sm btn-neutral min-w-[80px]
}
.my-card-border {
  @apply card p-4 border-[1px] border-neutral-500
}
.my-course-status {
  @apply flex w-fit flex-row items-center justify-center gap-1 rounded-full px-2 py-1 text-sm
}
.my-course-draft {
  @apply my-course-status bg-neutral-700 text-red-400
}
.my-course-published {
  @apply my-course-status bg-app-base text-black
}
.my-chip-input {
  @apply flex flex-row items-center justify-center rounded-full bg-base-300 sm:px-4 px-2 text-base
}
.my-course-cover-image {
  @apply h-[150px] w-[200px] max-w-[200px] rounded-lg object-cover border-neutral-500
}
.my-big-label-for-info {
  @apply py-10 text-center text-2xl font-medium
}
.my-child-loading-container {
  @apply flex flex-row h-[300px] items-center justify-center
}
